@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
/* weights: 300 light, 400 regular, 500 medium, 600 semibold, 700 bold, 800 extrabold */

* {
  margin: 0%;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  color: hsl(0, 0%, 100%);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 100vh;
  background-color: hsl(0, 0%, 8%);
}

.card {
  background-color: hsl(0, 0%, 12%);
  padding: 1.2rem;
  display: block;
  text-align: center;
  border-radius: 15px;
}

.picture_div img {
  max-width: 75px;
  height: auto;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  border-radius: 50%;
}

.information_div {
  margin-top: 1rem;
}

.information_div h1 {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 0.6rem;
}

.information_div h2 {
  color: hsl(75, 94%, 57%);
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 1.4rem;
}

.information_div p {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  margin-bottom: 1.5rem;
}

.link_div {
  margin-top: 1rem;
}

.link_div ul {
  padding-left: 0;
}

.link_div li {
  font-size: 12px;
  font-weight: 400;
  list-style-type: none;
  display: block;
  padding: 0.8rem 2.5rem;
  margin: 1rem 0rem;
  background-color: hsl(0, 0%, 20%);
  border-radius: 5px;
}

@media only screen and (min-width: 900px) {
  .link_div li:hover {
    background-color: hsl(75, 94%, 57%);
    cursor: pointer;
    color: hsl(0, 0%, 8%);
    font-weight: 600;
  }

  .card {
    padding: 2rem;
  }
}
